# Python Boolean Type

In Python, the boolean type is a built-in data type that has two possible values: `True` and `False`. Booleans are used to represent the truth values of logical expressions, and they are often used in conditional statements to control the flow of a program.

You can create boolean values using the literals `True` and `False`, or by using expressions that evaluate to boolean values.

Here are some examples:

In [6]:
flag = True

In [4]:
type(flag)

bool

In [9]:
c = 5 > 6
c

False

Boolean values can be combined using logical operators. The most common logical operators are:

- `and:` returns True if both operands are True, otherwise False.
- `or:` returns True if either operand is True, otherwise False.
- `not:` negates the value of the operand

Here are some examples:

In [10]:
x = True
y = False

In [11]:
x and y #&

False

In [12]:
x or y # |

True

In [13]:
not x

False

In [15]:
(5 < 6) and (7 != 0)

True

In Python, any non-zero number, non-empty string, non-empty list, non-empty tuple, non-empty dictionary, or non-None object is considered `True`. Zero, empty strings, empty lists, empty tuples, empty dictionaries, and None are considered `False`.

Here are some examples:

In [17]:
number = 9-5-4
result = bool(number)

In [18]:
print(result)

False

In [19]:
bool([])

False

In [21]:
name = "a"
bool(name)

True