# Python Text Type

In Python, strings (`str`) are used to represent text data. Here's a brief overview of the Python string type.

## Defining strings

You can define a string in Python by enclosing the text in either single or double quotes. Here are some examples:

In [1]:
name = "My name is Jhon Doe"

In [2]:
sent = """
    line1
    line2
    line3
"""

In [3]:
type(sent)

str

In [4]:
age = "45"

In [5]:
int(age)

45

In [6]:
len("45")

2

## String methods

Python provides a variety of built-in string methods that you can use to perform operations on strings. Some common string methods include `lower()`, `upper()`, `strip()`, `replace()`, and `split()`. Here are some examples:

Docs : https://python-reference.readthedocs.io/en/latest/docs/str/

In [7]:
x = "    WELCOME    "

In [8]:
x.lower()

'    welcome    '

In [9]:
x = x.strip()

In [10]:
x.replace("E","A")

'WALCOMA'

In [11]:
x.split("E", maxsplit=1)

['W', 'LCOME']

In [12]:
email = "shailesh@gmail.com"

In [13]:
email.endswith("skill.com")

False

In [14]:
x = "ram"

## String indexing

You can access individual characters in a string using indexing. In Python, indexing starts at 0. Here are some examples:

In [15]:
address = "Kathmandu"

In [16]:
address[0]

'K'

In [17]:
address[4]

'm'

In [18]:
len(address)

9

In [19]:
address[-5]

'm'

## String slicing

You can also access a range of characters in a string using slicing. Slicing uses the syntax `start:stop:step`, where `start` is the index of the first character you want to include, `stop` is the index of the first character you want to exclude, and `step` is the number of characters to skip. Here are some examples:

In [20]:
address

'Kathmandu'

In [21]:
address[0::2]

'Ktmnu'

In [22]:
address[::2]

'Ktmnu'

In [23]:
address[-5:-2]

'man'

In [24]:
address[::-1] # reverse

'udnamhtaK'

In [25]:
text = "madam"
text[::-1]

'madam'

In [27]:
address[0:5:1]

'Kathm'

## String Formatting

You can use string formatting to insert variables or expressions into a string. There are several ways to format strings in Python, including using `%` operator, `.format()` and `f-strings`. Here are some examples:

In [28]:
name = "jhon"
age = 45

In [30]:
sent = "Your name is %s and you are %d years old"%(name.capitalize(), age)

In [31]:
sent

'Your name is Jhon and you are 45 years old'

In [32]:
sent = "Your name is {} and you are {} years old".format(name.capitalize(), age)

In [33]:
sent

'Your name is Jhon and you are 45 years old'

In [35]:
sent = f"Your name is {name} and you are {age} years old."

In [37]:
print(sent)

Your name is jhon and uou are 45 years old.

In [39]:
color = "red"
animal = "sparrow"

prompt = f"Picture of {color} {animal}"
print(prompt)

Picture of red sparrow

In [40]:
# New t string formatiing in Python 3.14

color = "red"
animal = "sparrow"

prompt = t"Picture of {color} {animal}"
print(prompt)

SyntaxError: invalid syntax (1229168034.py, line 4)